/* Border Box */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
/* Navagation Bar */ 
.NavigationStyle { 
  background-color:#ED8A74; /*mango*/
  border: .15rem solid #F2F2F2; /*white*/
  border-radius: .80rem .80rem .80rem .80rem;
  box-shadow: .20rem .10rem .20rem .10rem #ED8A74; /*mango*/
  font-weight: bold;
  list-style: none;
  margin: 3rem;
  padding: 1rem;
  width: auto;
}
/* Center Div Content */
.CenterDivContent {
    background-color: #657982; /*light navy blue*/
    height: auto;
    text-align: center;
    width:100%;
}
/* Unvisited Link */
a:link {
    color: #804A3E; /*darker mango color*/
    text-decoration: none;
}
/* Visited Link */
a:visted {
    color:#F2F2F2; /*white*/
    text-decoration: none;
}
/* Hover Link Color */
a:hover {
    color:#F2F2F2; /*white*/ 
    text-decoration: none;
}
/* Selected Link */
a:active {
    color:#F2F2F2; /*white*/
    text-decoration: underline;
}
/* Body */
body {
    background: linear-gradient(#8facb8 /*light blue*/ 20%,#CE7764 /*mango*/ 80%);
    background-repeat: no-repeat;
    margin: 0;
}
/* Images */
img {
    height: auto;
    margin: 0;
    padding: .35rem;
    width: 300px;
}
/* paragraph <p> elements */
p {
    font-size: 20px;
}
/* h1 headings */
h1 {
    color:#CE7764; /*mango*/
    font-family: 'Alatsi', sans-serif;
    font-size: 35px;
    text-align: center;
    text-shadow: -1px 0 #F2F2F2, 0 1px #F2F2F2, 1px 0 #F2F2F2, 0 -1px #F2F2F2; /* all white */
    margin: 4rem;
}
/* h2 headings */
h2 {
  color:#F2F2F2; /*white*/
  font-family: 'Alatsi', sans-serif;
  font-size: 30px;
  text-align: center;
  padding: 20px;
}
/* h3 headings */
h3 {
  background-color:#8FACB8; /*light blue*/
  margin: 2rem;
  padding: 20px;
}
/* line divider */
hr {
  border: .10rem solid #F2F2F2; /*white*/
}
/* footer */
.footer {
  text-align: center;
}